{% extends 'anuncios/layout.html' %}

{% block content %}

<div class="container">
{% for anuncio in anuncios %}
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>{{ anuncio.titulo }}</strong>
            </div>
            <div class="panel-body">
                <h5>
                    <i class="fa fa-quote-left"></i>
                        <em class="description">{{ anuncio.descricao|linebreaksbr }}</em>
                    <i class="fa fa-quote-right"></i>
                </h5>
                <legend></legend>
                <div class="evento progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <div>
                    <span>
                        <small class="glyphicon glyphicon-calendar">
                            <time class="pull-right" datetime="2008-11-01"> {{anuncio.data_inicio}}</time>
                        </small>
                    </span>
                    <span class="pull-right">
                        <small class="glyphicon glyphicon-calendar">
                            <time class="pull-right" datetime="2011-07-16"> {{anuncio.data_fim}}</time>
                        </small>
                    </span>
                </div>
                <div class="detalhes pull-right text-muted">
                    <small class="glyphicon glyphicon-calendar">
                        <time class="pull-right" datetime="2011-07-16"> {{anuncio.data_criacao}}</time>
                    </small>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <small>{{anuncio.localidade}}</small>
                    <span class="glyphicon glyphicon-user"></span>
                    <small>{{anuncio.anunciante}}</small>

                </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}








